@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #dc93e2;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px 5px 25px;
  font-size: 18px;
  margin: 0;
  color: rgb(186, 0, 115);
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
.myImage {
  background-image: url("crown.svg");
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: white;}

#customers tr:hover {background-color: white;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
  
}

img{
  width:400px;
  height:300px;
}